http:// {
        log {
                output stderr
                format filter {
                        wrap console
                        fields {
                                request>headers>Authorization delete
                        }
                }
        }
        @beaconapi {
                #remote_ip 0.0.0.0
                path /beaconapi/*
        }
        handle @beaconapi {
                reverse_proxy http://lighthouse-archival:5052
                uri strip_prefix /beaconapi
        }

		@elapi {
                #remote_ip 0.0.0.0
                path /elapi/*
        }
        handle @beaconapi {
                reverse_proxy http://lighthouse-archival:5052
                uri strip_prefix /elapi
        }


}